# Database
DB_HOST=localhost
DB_PORT=15432
DB_USERNAME=vttm
DB_PASSWORD=vttm_dev
DB_DATABASE=vttm

# Redis
REDIS_HOST=localhost
REDIS_PORT=16379

# JWT
JWT_ACCESS_SECRET=change-me-access-secret-key-vttm
JWT_REFRESH_SECRET=change-me-refresh-secret-key-vttm
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

# MinIO / S3
S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=vttm

# App
APP_PORT=3000
APP_ENV=development
DEFAULT_LOCALE=vi

# Keycloak
KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=vttm
KEYCLOAK_CLIENT_ID_API=vttm-api
KEYCLOAK_CLIENT_SECRET_API=vttm-api-secret-dev
KEYCLOAK_CLIENT_ID_ADMIN=vttm-admin
KEYCLOAK_CLIENT_ID_PORTAL=vttm-portal
